.container-map {
  background-color: green;
  flex-grow: 1;
  height: 250px;
  position: sticky;
}

.container-card {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 16px;
  padding: 24px;
}

.container-card ul {
  list-style: none;
}

.card {
  padding: 16px;
}

#photo-gallery {
  display: grid;
  grid-gap: 16px;
  padding: 40px;
}

#photo-gallery img {
  max-width:100%;
  height:auto;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.reviews-section {
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #fff;
  background-clip: border-box;
  border-radius: 2px;
  padding: 16px;
  margin: 24px;
  word-wrap: break-word;
}
