<div class="home-banner">
  <%= render 'searchbar' %>
</div>
<h1 class="product-name">Airbike</h1>

<div class="d-flex justify-content-between custom-container">
  <div class= "landing-page-card">
    <div class= "landing-page-icon">
      <i class="fas fa-money-bill-wave"></i>
    </div>
    <div class="landing-page-text">
      <h2>Airbike</h2>
      <p>If u want to rent a <strong>cheap</strong> and <strong>cool</strong> bike</p>
    </div>
  </div>

  <div class= "landing-page-card">
    <div class= "landing-page-icon">
      <i class="fas fa-fast-forward"></i>
    </div>
    <div class="landing-page-text">
      <h2>Airbike</h2>
      <p>If you want to rent a bike <strong>fast</strong> and <strong>easy</strong></p>
    </div>
  </div>

  <div class= "landing-page-card">
    <div class= "landing-page-icon">
      <i class="fas fa-filter"></i>
    </div>
    <div class="landing-page-text">
      <h2>Airbike</h2>
      <p>If you want to have a <strong>huge variety</strong></p>
    </div>
  </div>
</div>

<div class="footer">
  <h3>Contact us</h3>
  <ul class= "list-inline">
    <li class="list-inline-item"><i class="fab fa-instagram"></i></li>
    <li class="list-inline-item"><i class="fab fa-facebook-square"></i></li>
    <li class="list-inline-item"><i class="fas fa-envelope"></i></li>
    <li class="list-inline-item"><i class="fas fa-phone-square"></i></li>
  </ul>
</div>
