.custom-new-container {
  padding: 5vh 20vw 0vh 20vw;
  background-image: asset-url("banner.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.form-background {
  background-color: rgba(200,200,200,0.8);
}
