$lightgrey: #202020;

.icon-size-color-lense {
  color: black;
  font-size: 200px;
  opacity: 0.2;
  padding: 8px;
}

.custom-index-container {
  margin: 15vh auto;
  text-align: center;
}

.subheader-index {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin: 16px;
  color: rgba(30,30,30,0.7);
}
