$lightgrey: #202020;

.icon-size-color-lense {
  color: $font-color;
  font-size: 200px;
  padding: 8px;
}

.custom-index-container {
  margin: 15vh auto;
  text-align: center;
}

.subheader-index {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin: 16px;
  color: $font-color;
}
