.sidebar {
  h1 {
    margin-bottom: 0.0rem;
    color: orange;
  }
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
      background-color: white;
    }
  }

  .btn-sidebar {
    padding: 10px;
    border-radius: rounded
  }
}
